/* You can add global styles to this file, and also import other style files */
#rocket {
    position: absolute;
    bottom: 0px;
}

#rocketship {
    width: 100px;
}

#laser {
    position: absolute;
    width: 26px;
}

.btn:focus {
    outline: none;
}